.popover-md .popover-content {
  border-radius: 8px;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  min-width: 85%;
  min-height: 0;
  max-height: 90%;
  color: #000;
  background: #fff;
  -webkit-box-shadow: 0 3px 12px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 12px 2px rgba(0, 0, 0, 0.3);
}
element.style {
    top: 172.703px;
    left: 55px;
    transform-origin: left top 0px;
    transform: scale(1);
}
h3{
    text-align: center;
}