page-list {
  #attribute-img {
      max-width: 15px;
      max-height: 15px;
      margin-left: 2%;
  }
  .name-column{
    padding: 0;
    
    h3{
      text-align: start;
      padding-top: 0.75em;
    }
  }
  
}
