<!--
  Generated template for the MatchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Matches</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-card *ngFor="let item of matches | async">
    <ion-item (click)="openChat(item.id)">
      <div item-start class="profile-pic">
        <img src="{{item.photo}}">
      </div>
      <h2>{{item.user}}</h2>
      <p>{{item.distance}} km</p>
    </ion-item>
    <ion-card-content>
      <ion-list>
        <div *ngFor="let card of item.cards">
          <ion-row>
            <p>{{card.code}}</p>
            <img id="attribute-img" src="assets/icon/attributes/{{card.attribute}}.png" />
          </ion-row>
          <ion-row>
            <ion-col col-8 class="name-column">
              <h3>{{card.name}}</h3>
            </ion-col>
            <ion-col class="card-state-column">
              <img id="state-img" src="assets/icon/states/{{card.state}}.png" />
              <img id="brightness-img" src="assets/icon/brightness/{{card.brightness}}.png" />
              <img id="rarity-img" src="assets/icon/rarity/{{card.rarity}}.png" />
            </ion-col>
          </ion-row>
        </div>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
