page-match {
  .content-md {
    background-color: color($colors, background);
  }
  #attribute-img {
    margin-right: 0.5em;
  }
  #state-img {
    max-width: 24px;
    max-height: 24px;
  }
  #brightness-img {
    max-width: 24px;
    max-height: 24px;
  }
  #rarity-img {
    max-width: 24px;
    max-height: 24px;
  }
  .name-column {
    padding: 0;
    h3 {
      text-align: start;
      padding-top: 0.75em;
    }
  }
  .card-state-column {
    img {
      display: inline;
      margin-bottom: 0.5em;
    }
  }
}
