// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
#attribute-img {
    max-width: 15px;
    max-height: 15px;
    margin-left: 2%;
}
.menu-profile{
    .item-md{
        background-color: transparent; 
        .item-inner{
            border-bottom: 0px;

            h2{
                font-size: 2rem;
            }
            p{
                font-size: 1rem;
            }
        }
    }
}


.profile-pic-big {
    position: relative;
    width: 7em;
    height: 7em;
    border-radius: 50%;
    overflow: hidden;
    img {
      max-width: 150%;
    }
  }
  .profile-pic {
    position: relative;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    overflow: hidden;
    img {
      max-width: 150%;
      width: 150%;
      position: absolute;
    }
  }
